.wrap {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 20px auto;
  @media (min-width: 768px) {
    width: 500px;
  }
}
.button {
  border: none;
  cursor: pointer;
  display: flex;
  padding: 20px;
  background: inherit;
}
.question {
  padding-left: 5px;
}
.answer {
  padding: 0 40px 20px;
  text-align: left;
}
